.navigation {
    background-color: #3d3d3d;
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
  }
  
  .navigation__menu {
    display: flex;
    gap: 2rem;
  }
  
  .navigation__menu li {
    list-style: none;
  }
  
  .navigation__menu li a {
    text-decoration: none;
    color: var(--cor-primaria);
  }
  
  .navigation__menu li a:hover {
    color: var(--cor-secundaria);
    border-bottom: 5px solid var(--cor-secundaria);
  }
  