* {
  margin: 0;
  padding: 0;
}

.__navigation {
  display: flex;
  justify-content: space-between;
}

.__navigation_menu {
  display: flex;
  gap: 2rem;
}

.__navigation_menu li {
  list-style: none;
}

.__navigation_menu li a {
  text-decoration: none;
}
