.knowledge {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.knowledge .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.knowledge h1 {
  color: var(--cor-primaria);
}

.knowledge h3,
p {
  color: #fff;
}
