#about {
  background-color: var(--cor-cinza-medio);
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 20px;
  padding-left: 8rem;
  padding-right: 8rem;

}

.image {
  overflow: hidden;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.884);
  width: 520px;
  border-radius: 25px;
}

.about__content header {
  color: var(--cor-primaria);
  font-weight: bolder;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.about__content p {
  color: #fff;
  font-size: 1.5em;
}
