#home {
  height: 100vh;
  display: flex;
  color: white;
  gap: 3rem;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

.home__img {
  
  border-radius: 25px;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.884);
 
  overflow: hidden;
}
#home h1 {
  font-size: 3rem;
}

#home p {
  font-size: 1.5rem;
}

#home button {
  color: var(--cor-primaria);
  border: 1px solid var(--cor-primaria);
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  border-radius: 15px;
}

#home button:hover {
  background-color: var(--cor-secundaria);
  color: #fff;
}
