footer {
  background-color: var(--cor-cinza-medio);
  display: flex;
  justify-content: space-between;
}

footer h1 {
  color: var(--cor-cinza-claro);
  padding-bottom: 2rem;
}

footer p {
  font-size: 1.2rem;
}

.footer__links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 5px;
}

.footer__links li a {
  color: #fff;
}
