:root {
  --color-primary: #85e4ff;
  --color-secondary: #0e2a56;
  --color-dark: #0d0d0d;
  --color-gray-medium: #3d3d3d;
  --color-gray-light: #b3b3b3;
  --color-emphasis: #ff9800;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 0;
}

nav a {
  font-size: 1.5rem;
}

a:hover {
  color: var(--color-emphasis);
}

h1 {
  font-size: 2.3rem;
  font-weight: bolder;
}
p {
  color: #fff;
}
button {
  color: var(--color-secondary);
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 1.5rem 2rem;
  border: var(--color-secondary) solid 2px;
  border-radius: 15px;
  background-color: var(--color-primary);
  grid-area: btn;
}

button a:hover {
  color: var(--color-primary);
}

button:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}
#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#home .home__image {
  width: 25rem;
  justify-content: center;
  align-items: center;
  border: 2px #85e4ff solid;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 14px 20px 10px 6px rgb(0 0 0 / 33%);
}

#about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about .container {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80%;
}

#about .container .img {
  display: flex;
  justify-content: center;
  width: 20rem;
  border: 2px #85e4ff solid;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 14px 20px 10px 6px rgb(0 0 0 / 33%);
}

#about .container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  width: 20rem;
  padding: 2.5rem 1.5rem;

  border: 2px #85e4ff solid;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 14px 20px 10px 6px rgb(0 0 0 / 33%);
}

#about .container p {
  padding-top: 1rem;
  max-width: 100%;
}

#projects {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#projects .container {
  width: 100%;
  text-align: center;
}

.projects-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project {
  padding: 1.5rem 2rem;
  margin-bottom: 1rem;
  border: 2px #85e4ff solid;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 14px 20px 10px 6px rgb(0 0 0 / 33%);
}
.project img {
  width: 30rem;
}

#knowledge {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.knowledge-list {
  display: flex;
  flex-direction: column;
  width: 45rem;
  gap: 1rem;
}

.knowledge-list .card {
  padding: 2rem;
  border: 2px #85e4ff solid;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 14px 20px 10px 6px rgb(0 0 0 / 33%);
}

#contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contact .container {
  border: 2px #85e4ff solid;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 14px 20px 10px 6px rgb(0 0 0 / 33%);
  padding: 2rem;
}

footer {
  height: 5rem;
  text-align: center;
  padding-top: 1.5rem;
}

@media (min-width: 1024px) {
  #home {
    padding: 0 2rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #home .home__img {
    width: 80rem;
  }
  #about .container {
    flex-direction: row;
  }
  #about .container .content {
    margin-left: 2rem;
    width: 600px;
    text-align: start;
  }

  #about .container .img {
    width: 60rem;
  }

  #projects .projects-list {
    flex-direction: row;
    gap: 2rem;
  }
  .project {
    width: 23rem;
  }
  .project img {
    width: 20rem;
  }
}
